@import url('typography.css');
@import url('navigation-bar.css');

html, body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}