@import url('typography.css');
@import url('navigation-bar.css');

html, body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body > * {
	box-sizing: border-box;
}

.background-container {
	align-items: center;
	background-image: url("../images/grinder.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 3rem;
	min-height: calc(100vh - 7rem);
	padding-top: 4rem;
	text-align: center;
	width: 100%;
}

.background-container h1,
.background-container h2 {
	line-height: 0;
	color: white;
}

.background-container__title-xl {
	display: none;
}

.experts-wrapper {
	background-color: #f8f9fa;
	width: 100%;
	padding: 3rem 0;
}

	/* ************************* experts section ************************* */

.experts-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 0.8rem;
}

.experts-container__title {}

.experts-container__info-text {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	font-weight: 300;
	justify-content: center;
	width: 100%;
}

.experts-container__image-wrapper {
	width: 100%;
}

.experts-container__image {
	object-fit: cover;
	width: 100%;
}

	/* ************************* services section ************************* */

.services {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 3rem 0.8rem;
	text-align: center;
}

.services__title {
	margin-top: 0;
}

.services_info-text {
	font-size: 1.2rem;
}

.service-cards {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}

.service-card {
	align-items: center;
	background-color: white;
	border-radius: 0.7rem;
	box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.4);
	color: black;
	display: flex;
	flex-direction: column;
	height: 16rem;
	justify-content: center;
	padding: 1rem;
	transition: transform 0.4s;
	width: 16rem;
}

.service-card:not(:first-child) {
	margin-top: 1.5rem;
}

.service-card:hover,
.service-card:focus {
	transform: scale(1.1);
}

.service-card__icon-wrapper {
	align-items: center;
	background-image: linear-gradient(90deg, #4f6793 20%, #21497A 100%);
	background-size: 4rem;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	height: 4rem;
	justify-content: center;
	width: 4rem;
}

.service-card:hover .service-card__icon-wrapper {
	background-color: #181616;
	background-image: none;
}

.service-card__icon {
	color: black;
	font-size: 2rem;
}

.service-card__title {
	margin: 0;
}

.service-card__info {
	padding: 2rem 0;
}

.service-card__info-text {}

.service-card:hover .fa-hammer:before,
.service-card:hover .fa-tools:before,
.service-card:hover .fa-hard-hat:before {
	-webkit-background-clip: text; /* wont work on chrome without prefix */
	background-clip: text;
	background-image: linear-gradient(90deg, #4f6793 20%, #21497A 100%);
	color: transparent;
	position: relative;
	transition: all 0.4s ease;
}

	/* ************************* recent projects section ************************* */

.recent-projects-wrapper {
	background-color: #f8f9fa;
	width: 100%;
}

.recent-projects {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 3rem 0.8rem;
}

.recent-project-cards {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.recent-projects__title {
	margin: 0;
}

.recent-project-card {
	height: 20rem;
	overflow: hidden;
	width: 100%;
}

.recent-project-card:not(first) {
	margin-bottom: 8px;
}

.recent-project-card__image {
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	transition-duration: .5s;
	transition-property: transform;
	width: 100%;
}

.recent-project-card__image--a {
	background-image: url("../images/house_exterior.jpeg");
}
.recent-project-card__image--b {
	background-image: url("../images/man_and_insulation.jpg");
}
.recent-project-card__image--c {
	background-image: url("../images/grinding_metal_baton.jpg");
}

.recent-project-card__image:before {
	background-color: rgba(52, 73, 94, 0.75);
	content: "";
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.recent-project-card:hover .recent-project-card__image,
.recent-project-card:focus .recent-project-card__image {
	transform: scale(1.2);
}

.recent-project-card:hover .recent-project-card__image:before,
.recent-project-card:focus .recent-project-card__image:before {
	display: block;
}

.recent-project-card__hover-description {
	bottom: 0;
	color: white;
	display: none;
	font-family: sans-serif;
	left: 0;
	margin: auto;
	padding: 25%;
	position: absolute;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 0;
}

.recent-project-card:hover a.recent-project-card__hover-description,
.recent-project-card:focus a.recent-project-card__hover-description {
	display: block;
}

.recent-project-card__description {}

	/* ************************* testimonials section ************************* */

.testimonials {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 0.8rem;
}

.testimonials__title {}

.testimonial-wrapper {
	display: flex;
	flex-direction: column;
}

.testimonial {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.testimonial__header {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.testimonial__image {
	border-radius: 50%;
	height: 100px;
	margin-bottom: 1rem;
	object-fit: cover;
	width: 100px;
}

.testimonial__name {
	color: grey;
	margin-bottom: 1rem;
	margin-top: 0;
}

.testimonial__description {
	font-size: 1.25rem;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 1rem;
	margin-top: 0;
	text-align: center;
}
	
@media screen and (min-width: 480px) {

	.background-container  {
		min-height: calc(100vh - 9rem); /* navigation-bar height * padding-top */
		padding-top: 6rem;
	}

	.background-container svg {
		width: 200px;
		height: 200px
	}

	.background-container__title {
		display: none;
	}

	.background-container__construction {
		display: none;
	}

	.background-container__title-xl {
		display: inline-block;
		font-size: 4rem;
		font-weight: bold;
		margin-top: 2rem;
	}

	/* ************************* experts section ************************* */

	.experts-container {
		align-items: center;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		max-width: 80rem;
		padding: 7rem 0;
	}

	.experts-container__info-text {
		padding: 0 2rem;
		text-align: left;
		width: 50%;
	}

	.experts-container__image {
		height: 33.75rem;
		width: 33.75rem;
	}

	.services {
		margin-left: auto;
		margin-right: auto;
		max-width: 60rem;
		padding: 7rem 0;
	}

	/* ************************* services section ************************* */

	.service-cards {
		flex-direction: row;
		padding-top: 4rem;
	}

	.service-cards .service-card {
		margin-top: 0;
	}

	.service-card:not(:first-child) {
		margin-left: 2rem;
	}

	/* ************************* recent projects section ************************* */

	.recent-projects {
		padding: 7rem 0;
	}

	.recent-project-cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 62rem;
	}

	.recent-project-card {
		max-height: 20rem;
		max-width: 20rem;
		min-height: 20rem;
		min-width: 20rem;
	}

	.recent-project-card:not(first) {
		margin-left: 0.5rem;
	}

	/* ************************* testimonials section ************************* */

	.testimonials {
		padding: 7rem 0;
	}

	.testimonial-wrapper {
		flex-direction: row;
		max-width: 80rem;
	}

	.testimonials__title {
		margin-top: 0;
	}

	.testimonial {
		padding: 1rem;
		width: 50%;
	}

}